name: Publish

on:
  push:
    tags:
      - '**'
  workflow_dispatch:

permissions:
  contents: write

jobs:
  publish:
    uses: TheMCBrothers/.github/.github/workflows/mod_publish_unified.yml@main
    secrets:
      CURSEFORGE_TOKEN: ${{ secrets.CURSEFORGE_TOKEN }}
      MODRINTH_TOKEN: ${{ secrets.MODRINTH_TOKEN }}
      PUBLISH_USER: ${{ secrets.PUBLISH_USER }}
      PUBLISH_PASSWORD: ${{ secrets.PUBLISH_PASSWORD }}
